body {
  font-family: Arial, sans-serif;
  background-color: rgb(219, 216, 199);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  float: left;
}

.card_container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  float: right;
}